<div class ="logo">
        <img src="../../../assets/contrato.png" alt="">
        <h3>The Green Coffee Company</h3>
</div>
<div class="form-container">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre y apellido: </label>
            <input type="text" id="nombre" name="firstName" placeholder="Ingrese nombre y apellido ">
        </div>
        <div class="form-group">
            <label for="documento">Documento: </label>
            <input type="text" id="documento" name="documento" placeholder="Ingrese su numero de documento">
        </div>
        <div class="form-group">
            <label for="correo">Email: </label>
            <input type="text" id="correo" name="correo" placeholder="Ingrese su numero de documento">
        </div>
        <div class="form-group">
            <label for="celular">Celular: </label>
            <input type="text" id="Celular" name="Celular" placeholder="Ingrese su #">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion de residencia: </label>
            <input type="text" id="direccion" name="direccion" placeholder="Ingrese su direccion">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion de residencia: </label>
            <input type="text" id="direccion" name="direccion" placeholder="Ingrese su direccion">
        </div>
        <div class="form-group">
            <label for="fecha de inicio">fecha de inicio: </label>
            <input type="date" id="fecha de inicio">
        </div>
        <div class="form-group">
            <label for="fecha de finalizacion">fecha de finalizacion: </label>
            <input type="date" id="fecha de finalizacion">
        </div>
        <button type="submit">Submit</button>
    </form>