<!-- navbar.component.html -->
<nav class="navbar">
    <div class="route-container"><a routerLink="/">ACS</a></div>
    <div class="route-container">
      <a routerLink="/nuevo-contrato">Registrar nuevo Contratista<img src="../../../assets/sort-down-white.png" alt="" /></a>
    </div>
    <div class="route-container">
      <a routerLink="/mis-contratos">Mis contratos <img src="../../../assets/sort-down-white.png" alt="" /></a>
    </div>
    <div class="route-container">
      <a routerLink="/user">Mi Perfil <img src="../../../assets/sort-down-white.png" alt="" /></a>
    </div>
  </nav>
  