<div class="home-container">
  <nav class="navbar">
    <div class="route-container"><a routerLink="/home">ACS</a></div>
    <div class="route-container">
      <a routerLink="/home"
        >Productos y Servicios<img
          src="../../../assets/sort-down-white.png"
          alt=""
      /></a>
    </div>
    <div class="route-container">
      <a routerLink="/home"
        >Clientes <img src="../../../assets/sort-down-white.png" alt=""
      /></a>
    </div>
    <div class="route-container">
      <a routerLink="/about"
        >Acerca de la empresa
        <img src="../../../assets/sort-down-white.png" alt=""
      /></a>
    </div>
  </nav>
  <div class="home-menu">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="Logo de la empresa" />
    </div>
    <div class="info-container">
      <div class="tittle">
        <h1>
          ¿Quieres mejoras y oportunidades para la contratación de tu empresa?
        </h1>
      </div>
      <h2>
        Auto Contratation Solution (ACS) es para ti. Automatizando los largos y
        complejos procesos de contratación de tu empresa
      </h2>
      <div class="buttons">
        <div class="button-container">
          
            <a class="btn" routerLink="/login">Iniciar Sesión</a>
          
        </div>
        <div class="button-container">
          
            <a class="btn" routerLink="/">Regístrate</a>
          
        </div>
      </div>
    </div>
  </div>
  <!--<mat-slide-toggle> slide me </mat-slide-toggle>-->
</div>
