.profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.profile-container p {
  margin-bottom: 20px;
}

.profile-container div {
  margin-bottom: 15px;
}

.profile-container label {
  display: block;
  font-weight: bold;
}

.profile-container input[type="text"],
.profile-container input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-container .edit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-container .edit-btn:hover {
  background-color: #0056b3;
}
.file-upload-label {
  cursor: pointer;
  color: #2196F3; /* Azul */
}

.file-upload-label i {
  font-size: 36px; /* Tamaño del ícono */
}

.file-upload-label:hover {
  color: #0b7dda; /* Azul oscuro al pasar el ratón por encima */
}
