<div class="container">
    <nav class="navbar">
        <div class="route-container"><a routerLink="/">ACS</a></div>
        <div class="route-container">
          <a routerLink="/"
            >Registrar nuevo Contratista<img
              src="../../../assets/sort-down-white.png"
              alt=""
          /></a>
        </div>
        <div class="route-container">
          <a routerLink="/mis-contratos"
            >Mis contratos <img src="../../../assets/sort-down-white.png" alt=""
          /></a>
        </div>
        <div class="route-container">
          <a routerLink="/home"
            >Mi Perfil
            <img src="../../../assets/sort-down-white.png" alt=""
          /></a>
        </div>
      </nav>
      <div class="logo">
        <h2>Bienvenido</h2>
        <img src="../../../assets/Green-Coffee-Company.jpg" alt="" />
        <h3>The Green Coffee Company</h3>
      </div>
      <div class="info-container">

      </div>
    </div>